body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img{

    height: 350px;

    border: 2px solid rgb(61, 6, 6);

    border-radius: 20px;
}

h2{

    color: rgb(134, 29, 29);
}

p{ 
    font-family: 'Courier New', Courier, monospace;
color:azure;
}

h1{
font-family: 'Courier New', Courier, monospace;
color: rgb(255, 255, 255);
font-size:xx-large;
padding: 100px;
}

body{
    text-align: center;
}